#section{
    margin-left: 8%;
    margin-right: 8%;
    max-width: 100%;
    box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.card-header{
    font-family: "Times New Roman", Times, serif;
    color: #0074D9;
}
.previewCard{
    box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    max-width: 20%;
}

.card-img-top{
    max-width: 100%;
}

.previewTitle{
    font-family: "Times New Roman", Times, serif;
    color: #0074D9;
    text-align: center;
}