.navbar{
    border-radius: 10px;
    margin: 2%;
}

.nav-link{
    font-weight: bold;
    font-family: 'Times New Roman', Times, serif;
}
.nav-link:hover{
    background-color: pink;
    color: black !important;
    border-radius: 20px;
    padding: 10px 8px 10px 8px;
}

#company_name {
    font-family: "Liu Jian Mao Cao";
}